doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title Game
		script(type='text/javascript', src='/vendor/jquery.js')
		script(type='text/javascript', src='/vendor/bootstrap.min.js')
		link(rel="stylesheet", href='/vendor/bootstrap.min.css')
		script(type='text/javascript', src='/game/js/phaser.min.js')
		script(src='/game/js/phaser_pathfinding-0.2.0.js')
		script(type='text/javascript', src='/game/Tilemap.js')
		script(type='text/javascript', src='/game/Person.js')
		script(type='text/javascript', src='/game/People.js')
		script(type='text/javascript', src='/game/Player.js')
		script(type='text/javascript', src='/game/Level.js')
		script(type='text/javascript', src='/game/HUD.js')
		script(type='text/javascript', src='/game/Bubble.js')
		script(type='text/javascript', src='/game/Path.js')
		link(rel="stylesheet", href='/ethan/game.css')
	body
		section
			.container
				.row
					.col-md-7
						#phaser
					.col-md-4
						form#mainF(action="/generate2", method="get")
							input.hidden#dat(type="text", name="q")
							button.btn.col-lg-12#submit(type="submit")
								| Submit
						pre#js(contenteditable=true)
							!{JSON.stringify(data, null, 2)}
		script.
			var data =!{JSON.stringify(data)};
		script(type='text/javascript', src='/game/index.js')
		script.
			$('#mainF').submit(function(){
				$('#dat').val(JSON.stringify(JSON.parse($('#js').text())));
			});