#phaser > canvas{
	border: 1px solid #ddd;
}
section{
	padding: 30px 0px;
}
pre {
	outline: 1px solid #ccc;
	padding: 5px;
	margin: 5px; 
}

#submit{
	margin: 20px 0px;
}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }